node_modules
npm-debug.log
dist
test
coverage
*.md
*.log
*.env
Dockerfile
docker-compose.yml
.git
.gitignore
src/**/*.spec.ts
src/**/*.test.ts
src/**/*.e2e-spec.ts
src/**/*.map
src/assets/
README.md
.eslintrc.js
.eslintignore
.vscode/
.idea/
.env.*
*.local
*.bak
*.swp
*.swo
*.DS_Store
*.tgz
